NotSnakePictures/*
SnakePictures/*
__pycache__/*
FirstRoundTraining/*
SecondRoundTraining/*
cifar*
Initial/*
*.hdf5
Imagenet/*
ImagenetImages/*
Models/*
BackupModels/*
Cifar100Data/*
ILSVRC2012_img_train/*
.idea/*
Squares/*
./classes_*.csv