NotSnakePictures/*
SnakePictures/*
__pycache__/*
FirstRoundTraining/*
SecondRoundTraining/*
cifar*
Initial/*
*.hdf5
Imagenet/*
ImagenetImages/*
Models/*
BackupModels/*
Cifar100Data/*
ILSVRC2012_img_train/*
.idea/*
Squares/*
./classes_train.csv
./classes_validate.csv
mnist_fakes/*
checkpoint/*
training_checkpoints/*
Fakes/*